html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    list-style: none;
}

main{
    padding: 10px;
}

.hireButton, .scrollButton {
    width: 96.5%;
    background-color: #000;
    color: #FFF;
    padding: 12px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blackText {
    color: black;
    margin: 10px;
}

.greyText {
    color: #69696a;
    margin: 10px;
} 

p {
    border-left: 3px solid #69696a;
    padding-left: 10px;
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    width: 100vw;
}

h1 {
    font-weight: normal;
}

li {
    padding-top: .5rem;
}


@media only screen and (min-width: 768px) {
    
    nav {
        display: flex;
        flex-direction: row;
        /* width: 100vw; */
        text-align: center;
        justify-content: space-between;
    }

    .hireButton {
        min-width: 5rem;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
    }
    
    .scrollButton {
        max-width: 8rem;
    }
    
    .scrollButton {
        position: fixed;
        bottom: 0;
        right: 42%;
    }
    
    li {
        padding-top: 21px;
        white-space: nowrap;
    }
    
    p {
        width: 50vw;
    }
    
    .largeCircle {
        background: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        width: 175px;
        height: 175px;
    }
    
    .mediumCircle {
        background: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: relative;
        top: -58px;
        left: 62px;
    }
    
    .smallCircle {
        background: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        width: 115px;
        height: 115px;
        position: relative;
        top: -289px;
        left: 123px;
    }
    
    .circles {
        position: absolute;
        right: 100px;
        top: 200px;
    }
    
    h1 {
        margin-top: 125px;
    }
}