body {
    margin: 0;
}

nav {
    background-color: #551A8B;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', sans-serif;
    display: block;
    padding: 0.5rem;
}

div {
    padding: 1.5rem;
    margin-top: 11rem;
}



@media only screen and (min-width: 768px){
    
    nav {
        display: flex;
    }
    
    .home {
        order: 1;
        flex-grow: 1;
        text-align: right;
    }
    
    div {
        margin-top: 4rem;
    }

}